
{% extends 'admin/change_form.html' %}

{% block submit_buttons_bottom %}
    {{ block.super }}

    {% if not original.is_done %}
    <div class="submit-row">
        <input type="submit" value="Отправить сообщение" name="message-answer-all">
    </div>
    {% else %}
        <div class="submit-row">
        Вы уже отправили ответ на сообщение в телеграм. <br>
        Если хотите отправить еще раз сообщение, то уберите галочку в столбце "ОТМЕТКА ОБ ОТПРАВЛЕНИИ"<br>
        и сохраните это сообщение. После этого будет доступна кнопка "Отправить сообщение"
        </div>
    {% endif %}
{% endblock %}

